<div class="mentor">
<div class="header">
<b>Name:</b><%= mentor[i].name%><br>
</div>
<div class="content">
<b>Email:</b><%= mentor[i].email%><br>
<b>Expertise:</b><%= mentor[i].expert%><br>
<b>Designation:</b><%= mentor[i].designation%><br>
</div>
</div>
